In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv(r"D:\download\iris\Iris.csv")

In [9]:
iris = pd.DataFrame(iris)
iris.info

RangeIndex(start=0, stop=150, step=1)

### axes returns list of rows and index and type

In [19]:
print(iris.axes)
type(iris.axes)

[RangeIndex(start=0, stop=150, step=1), Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')]

list

### describe() returns count, mean, std, min, quartile and max

In [12]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

### values returns numpy array of values inside dataframe

In [17]:
iris.values
type(iris.values)

numpy.ndarray

In [20]:
iris.shape

(150, 6)

### Filter dataframe by colnames

In [21]:
iris.filter(items = ['SepalLengthCm','PetalWidthCm'])

     SepalLengthCm  PetalWidthCm
0              5.1           0.2
1              4.9           0.2
2              4.7           0.2
3              4.6           0.2
4              5.0           0.2
..             ...           ...
145            6.7           2.3
146            6.3           1.9
147            6.5           2.0
148            6.2           2.3
149            5.9           1.8

[150 rows x 2 columns]

In [24]:
for x in iris.__iter__():
    print(x)

Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [27]:
for x,y in iris.items():
    print(x,y)

Id 0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64
SepalLengthCm 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64
SepalWidthCm 0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64
PetalLengthCm 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64
PetalWidthCm 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64
Species 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [28]:
weather = pd.read_csv(r"E:\downloads\6883_9923_bundle_archive\weather.csv")

In [33]:
weather['RainToday']

0       No
1      Yes
2      Yes
3      Yes
4      Yes
      ...
361     No
362     No
363     No
364     No
365     No
Name: RainToday, Length: 366, dtype: object

### pivot and pivot_table

In [32]:
weather.axes

[RangeIndex(start=0, stop=366, step=1),
 Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
        'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
        'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
        'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
        'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
       dtype='object')]

In [35]:
weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [37]:
weather.pivot_table(index = 'WindGustDir', columns = ['RainToday','RainTomorrow'], values = 'Humidity3pm')

RainToday            No                   Yes
RainTomorrow         No        Yes         No   Yes
WindGustDir
E             40.300000  45.000000  42.000000   NaN
ENE           41.640000        NaN  60.000000  56.0
ESE           44.000000  48.750000  63.333333  49.5
N             38.333333  62.000000  62.000000  48.0
NE            36.583333  44.000000  42.000000  88.0
NNE           45.666667  65.000000  46.000000   NaN
NNW           35.857143  49.571429  46.000000  67.4
NW            37.577778  50.818182  55.916667  67.4
S             39.307692  60.000000  40.800000  71.0
SE            51.000000        NaN        NaN   NaN
SSE           31.833333  72.000000  54.333333  90.0
SSW           30.666667  61.500000        NaN   NaN
SW            49.000000  51.000000        NaN   NaN
W             36.777778  66.800000  59.500000  58.0
WNW           43.464286  59.500000  44.000000   NaN
WSW           26.000000        NaN        NaN   NaN

In [43]:
weather.pivot_table(index = 'WindGustDir',\
                    columns = ['RainToday','RainTomorrow'], values = 'Humidity3pm'\
                   ,aggfunc = 'sum')
pd.pivot_table(weather, index = 'WindGustDir',\
                    columns = ['RainToday','RainTomorrow'], values = 'Humidity3pm'\
                   ,aggfunc = 'sum')

RainToday         No           Yes
RainTomorrow      No    Yes     No    Yes
WindGustDir
E             1209.0  180.0  126.0    NaN
ENE           1041.0    NaN  180.0  112.0
ESE            616.0  195.0  190.0   99.0
N              690.0   62.0   62.0   48.0
NE             439.0   88.0   42.0   88.0
NNE            274.0   65.0   46.0    NaN
NNW           1004.0  347.0  184.0  337.0
NW            1691.0  559.0  671.0  337.0
S              511.0  120.0  204.0  142.0
SE             612.0    NaN    NaN    NaN
SSE            191.0  144.0  163.0   90.0
SSW             92.0  123.0    NaN    NaN
SW              49.0  102.0    NaN    NaN
W              331.0  334.0  238.0  116.0
WNW           1217.0  119.0  220.0    NaN
WSW             52.0    NaN    NaN    NaN

In [52]:
iris.head()
df1 = pd.melt(iris, id_vars = 'Species', value_vars = 'PetalLengthCm',var_name = 'Type',\
        value_name = 'Length')
df1

            Species           Type  Length
0       Iris-setosa  PetalLengthCm     1.4
1       Iris-setosa  PetalLengthCm     1.4
2       Iris-setosa  PetalLengthCm     1.3
3       Iris-setosa  PetalLengthCm     1.5
4       Iris-setosa  PetalLengthCm     1.4
..              ...            ...     ...
145  Iris-virginica  PetalLengthCm     5.2
146  Iris-virginica  PetalLengthCm     5.0
147  Iris-virginica  PetalLengthCm     5.2
148  Iris-virginica  PetalLengthCm     5.4
149  Iris-virginica  PetalLengthCm     5.1

[150 rows x 3 columns]

In [54]:
df1[df1['Length'] == 1.4]

        Species           Type  Length
0   Iris-setosa  PetalLengthCm     1.4
1   Iris-setosa  PetalLengthCm     1.4
4   Iris-setosa  PetalLengthCm     1.4
6   Iris-setosa  PetalLengthCm     1.4
8   Iris-setosa  PetalLengthCm     1.4
12  Iris-setosa  PetalLengthCm     1.4
17  Iris-setosa  PetalLengthCm     1.4
28  Iris-setosa  PetalLengthCm     1.4
33  Iris-setosa  PetalLengthCm     1.4
45  Iris-setosa  PetalLengthCm     1.4
47  Iris-setosa  PetalLengthCm     1.4
49  Iris-setosa  PetalLengthCm     1.4

In [58]:
for i,j in iris.iterrows():
    
    print(i,j)

0 Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object
1 Id                         2
SepalLengthCm            4.9
SepalWidthCm               3
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object
2 Id                         3
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object
3 Id                         4
SepalLengthCm            4.6
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object
4 Id                         5
SepalLengthCm              5
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 4, dtype: object
5 Id                         6
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.7
PetalWidthCm             0.4
Species          Iris-setosa
Name: 5, dtype: object
6 Id                         7
SepalLengthCm            4.6
SepalWidthCm             3.4
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 6, dtype: object
7 Id                         8
SepalLengthCm              5
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 7, dtype: object
8 Id                         9
SepalLengthCm            4.4
SepalWidthCm             2.9
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 8, dtype: object
9 Id                        10
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 9, dtype: object
10 Id                        11
SepalLengthCm            5.4
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 10, dtype: object
11 Id                        12
SepalLengthCm            4.8
SepalWidthCm             3.4
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 11, dtype: object
12 Id                        13
SepalLengthCm            4.8
SepalWidthCm               3
PetalLengthCm            1.4
PetalWidthCm             0.1
Species          Iris-setosa
Name: 12, dtype: object
13 Id                        14
SepalLengthCm            4.3
SepalWidthCm               3
PetalLengthCm            1.1
PetalWidthCm             0.1
Species          Iris-setosa
Name: 13, dtype: object
14 Id                        15
SepalLengthCm            5.8
SepalWidthCm               4
PetalLengthCm            1.2
PetalWidthCm             0.2
Species          Iris-setosa
Name: 14, dtype: object
15 Id                        16
SepalLengthCm            5.7
SepalWidthCm             4.4
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 15, dtype: object
16 Id                        17
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.3
PetalWidthCm             0.4
Species          Iris-setosa
Name: 16, dtype: object
17 Id                        18
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 17, dtype: object
18 Id                        19
SepalLengthCm            5.7
SepalWidthCm             3.8
PetalLengthCm            1.7
PetalWidthCm             0.3
Species          Iris-setosa
Name: 18, dtype: object
19 Id                        20
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.5
PetalWidthCm             0.3
Species          Iris-setosa
Name: 19, dtype: object
20 Id                        21
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.7
PetalWidthCm             0.2
Species          Iris-setosa
Name: 20, dtype: object
21 Id                        22
SepalLengthCm            5.1
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 21, dtype: object
22 Id                        23
SepalLengthCm            4.6
SepalWidthCm             3.6
PetalLengthCm              1
PetalWidthCm             0.2
Species          Iris-setosa
Name: 22, dtype: object
23 Id                        24
SepalLengthCm            5.1
SepalWidthCm             3.3
PetalLengthCm            1.7
PetalWidthCm             0.5
Species          Iris-setosa
Name: 23, dtype: object
24 Id                        25
SepalLengthCm            4.8
SepalWidthCm             3.4
PetalLengthCm            1.9
PetalWidthCm             0.2
Species          Iris-setosa
Name: 24, dtype: object
25 Id                        26
SepalLengthCm              5
SepalWidthCm               3
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 25, dtype: object
26 Id                        27
SepalLengthCm              5
SepalWidthCm             3.4
PetalLengthCm            1.6
PetalWidthCm             0.4
Species          Iris-setosa
Name: 26, dtype: object
27 Id                        28
SepalLengthCm            5.2
SepalWidthCm             3.5
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 27, dtype: object
28 Id                        29
SepalLengthCm            5.2
SepalWidthCm             3.4
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 28, dtype: object
29 Id                        30
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 29, dtype: object
30 Id                        31
SepalLengthCm            4.8
SepalWidthCm             3.1
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 30, dtype: object
31 Id                        32
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 31, dtype: object
32 Id                        33
SepalLengthCm            5.2
SepalWidthCm             4.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 32, dtype: object
33 Id                        34
SepalLengthCm            5.5
SepalWidthCm             4.2
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 33, dtype: object
34 Id                        35
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 34, dtype: object
35 Id                        36
SepalLengthCm              5
SepalWidthCm             3.2
PetalLengthCm            1.2
PetalWidthCm             0.2
Species          Iris-setosa
Name: 35, dtype: object
36 Id                        37
SepalLengthCm            5.5
SepalWidthCm             3.5
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 36, dtype: object
37 Id                        38
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 37, dtype: object
38 Id                        39
SepalLengthCm            4.4
SepalWidthCm               3
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 38, dtype: object
39 Id                        40
SepalLengthCm            5.1
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 39, dtype: object
40 Id                        41
SepalLengthCm              5
SepalWidthCm             3.5
PetalLengthCm            1.3
PetalWidthCm             0.3
Species          Iris-setosa
Name: 40, dtype: object
41 Id                        42
SepalLengthCm            4.5
SepalWidthCm             2.3
PetalLengthCm            1.3
PetalWidthCm             0.3
Species          Iris-setosa
Name: 41, dtype: object
42 Id                        43
SepalLengthCm            4.4
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 42, dtype: object
43 Id                        44
SepalLengthCm              5
SepalWidthCm             3.5
PetalLengthCm            1.6
PetalWidthCm             0.6
Species          Iris-setosa
Name: 43, dtype: object
44 Id                        45
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.9
PetalWidthCm             0.4
Species          Iris-setosa
Name: 44, dtype: object
45 Id                        46
SepalLengthCm            4.8
SepalWidthCm               3
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 45, dtype: object
46 Id                        47
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 46, dtype: object
47 Id                        48
SepalLengthCm            4.6
SepalWidthCm             3.2
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 47, dtype: object
48 Id                        49
SepalLengthCm            5.3
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 48, dtype: object
49 Id                        50
SepalLengthCm              5
SepalWidthCm             3.3
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 49, dtype: object
50 Id                            51
SepalLengthCm                  7
SepalWidthCm                 3.2
PetalLengthCm                4.7
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 50, dtype: object
51 Id                            52
SepalLengthCm                6.4
SepalWidthCm                 3.2
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 51, dtype: object
52 Id                            53
SepalLengthCm                6.9
SepalWidthCm                 3.1
PetalLengthCm                4.9
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 52, dtype: object
53 Id                            54
SepalLengthCm                5.5
SepalWidthCm                 2.3
PetalLengthCm                  4
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 53, dtype: object
54 Id                            55
SepalLengthCm                6.5
SepalWidthCm                 2.8
PetalLengthCm                4.6
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 54, dtype: object
55 Id                            56
SepalLengthCm                5.7
SepalWidthCm                 2.8
PetalLengthCm                4.5
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 55, dtype: object
56 Id                            57
SepalLengthCm                6.3
SepalWidthCm                 3.3
PetalLengthCm                4.7
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 56, dtype: object
57 Id                            58
SepalLengthCm                4.9
SepalWidthCm                 2.4
PetalLengthCm                3.3
PetalWidthCm                   1
Species          Iris-versicolor
Name: 57, dtype: object
58 Id                            59
SepalLengthCm                6.6
SepalWidthCm                 2.9
PetalLengthCm                4.6
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 58, dtype: object
59 Id                            60
SepalLengthCm                5.2
SepalWidthCm                 2.7
PetalLengthCm                3.9
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 59, dtype: object
60 Id                            61
SepalLengthCm                  5
SepalWidthCm                   2
PetalLengthCm                3.5
PetalWidthCm                   1
Species          Iris-versicolor
Name: 60, dtype: object
61 Id                            62
SepalLengthCm                5.9
SepalWidthCm                   3
PetalLengthCm                4.2
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 61, dtype: object
62 Id                            63
SepalLengthCm                  6
SepalWidthCm                 2.2
PetalLengthCm                  4
PetalWidthCm                   1
Species          Iris-versicolor
Name: 62, dtype: object
63 Id                            64
SepalLengthCm                6.1
SepalWidthCm                 2.9
PetalLengthCm                4.7
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 63, dtype: object
64 Id                            65
SepalLengthCm                5.6
SepalWidthCm                 2.9
PetalLengthCm                3.6
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 64, dtype: object
65 Id                            66
SepalLengthCm                6.7
SepalWidthCm                 3.1
PetalLengthCm                4.4
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 65, dtype: object
66 Id                            67
SepalLengthCm                5.6
SepalWidthCm                   3
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 66, dtype: object
67 Id                            68
SepalLengthCm                5.8
SepalWidthCm                 2.7
PetalLengthCm                4.1
PetalWidthCm                   1
Species          Iris-versicolor
Name: 67, dtype: object
68 Id                            69
SepalLengthCm                6.2
SepalWidthCm                 2.2
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 68, dtype: object
69 Id                            70
SepalLengthCm                5.6
SepalWidthCm                 2.5
PetalLengthCm                3.9
PetalWidthCm                 1.1
Species          Iris-versicolor
Name: 69, dtype: object
70 Id                            71
SepalLengthCm                5.9
SepalWidthCm                 3.2
PetalLengthCm                4.8
PetalWidthCm                 1.8
Species          Iris-versicolor
Name: 70, dtype: object
71 Id                            72
SepalLengthCm                6.1
SepalWidthCm                 2.8
PetalLengthCm                  4
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 71, dtype: object
72 Id                            73
SepalLengthCm                6.3
SepalWidthCm                 2.5
PetalLengthCm                4.9
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 72, dtype: object
73 Id                            74
SepalLengthCm                6.1
SepalWidthCm                 2.8
PetalLengthCm                4.7
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 73, dtype: object
74 Id                            75
SepalLengthCm                6.4
SepalWidthCm                 2.9
PetalLengthCm                4.3
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 74, dtype: object
75 Id                            76
SepalLengthCm                6.6
SepalWidthCm                   3
PetalLengthCm                4.4
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 75, dtype: object
76 Id                            77
SepalLengthCm                6.8
SepalWidthCm                 2.8
PetalLengthCm                4.8
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 76, dtype: object
77 Id                            78
SepalLengthCm                6.7
SepalWidthCm                   3
PetalLengthCm                  5
PetalWidthCm                 1.7
Species          Iris-versicolor
Name: 77, dtype: object
78 Id                            79
SepalLengthCm                  6
SepalWidthCm                 2.9
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 78, dtype: object
79 Id                            80
SepalLengthCm                5.7
SepalWidthCm                 2.6
PetalLengthCm                3.5
PetalWidthCm                   1
Species          Iris-versicolor
Name: 79, dtype: object
80 Id                            81
SepalLengthCm                5.5
SepalWidthCm                 2.4
PetalLengthCm                3.8
PetalWidthCm                 1.1
Species          Iris-versicolor
Name: 80, dtype: object
81 Id                            82
SepalLengthCm                5.5
SepalWidthCm                 2.4
PetalLengthCm                3.7
PetalWidthCm                   1
Species          Iris-versicolor
Name: 81, dtype: object
82 Id                            83
SepalLengthCm                5.8
SepalWidthCm                 2.7
PetalLengthCm                3.9
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 82, dtype: object
83 Id                            84
SepalLengthCm                  6
SepalWidthCm                 2.7
PetalLengthCm                5.1
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 83, dtype: object
84 Id                            85
SepalLengthCm                5.4
SepalWidthCm                   3
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 84, dtype: object
85 Id                            86
SepalLengthCm                  6
SepalWidthCm                 3.4
PetalLengthCm                4.5
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 85, dtype: object
86 Id                            87
SepalLengthCm                6.7
SepalWidthCm                 3.1
PetalLengthCm                4.7
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 86, dtype: object
87 Id                            88
SepalLengthCm                6.3
SepalWidthCm                 2.3
PetalLengthCm                4.4
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 87, dtype: object
88 Id                            89
SepalLengthCm                5.6
SepalWidthCm                   3
PetalLengthCm                4.1
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 88, dtype: object
89 Id                            90
SepalLengthCm                5.5
SepalWidthCm                 2.5
PetalLengthCm                  4
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 89, dtype: object
90 Id                            91
SepalLengthCm                5.5
SepalWidthCm                 2.6
PetalLengthCm                4.4
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 90, dtype: object
91 Id                            92
SepalLengthCm                6.1
SepalWidthCm                   3
PetalLengthCm                4.6
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 91, dtype: object
92 Id                            93
SepalLengthCm                5.8
SepalWidthCm                 2.6
PetalLengthCm                  4
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 92, dtype: object
93 Id                            94
SepalLengthCm                  5
SepalWidthCm                 2.3
PetalLengthCm                3.3
PetalWidthCm                   1
Species          Iris-versicolor
Name: 93, dtype: object
94 Id                            95
SepalLengthCm                5.6

### loc iloc

In [65]:
iris.loc[iris['SepalLengthCm'] == 4.6]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3    4            4.6           3.1            1.5           0.2  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa